:root {
    --web-peeper-scroll-color: #737059;
    --web-peeper-scroll-color-hover: #c0ba94;
    --web-peeper-scroll-button-down: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M8.71 11.71l2.59 2.59c.39.39 1.02.39 1.41 0l2.59-2.59c.63-.63.18-1.71-.71-1.71H9.41c-.89 0-1.33 1.08-.7 1.71z" fill="%23737059"></path></svg>');
    --web-peeper-scroll-button-up: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M8.71 12.29L11.3 9.7a.996.996 0 0 1 1.41 0l2.59 2.59c.63.63.18 1.71-.71 1.71H9.41c-.89 0-1.33-1.08-.7-1.71z" fill="%23737059"></path></svg>');
    --web-peeper-scroll-button-down-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M8.71 11.71l2.59 2.59c.39.39 1.02.39 1.41 0l2.59-2.59c.63-.63.18-1.71-.71-1.71H9.41c-.89 0-1.33 1.08-.7 1.71z" fill="%23c0ba94"></path></svg>');
    --web-peeper-scroll-button-up-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M8.71 12.29L11.3 9.7a.996.996 0 0 1 1.41 0l2.59 2.59c.63.63.18 1.71-.71 1.71H9.41c-.89 0-1.33-1.08-.7-1.71z" fill="%23c0ba94"></path></svg>');
    --web-peeper-scroll-button-right: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M11.71 15.29l2.59-2.59a.996.996 0 0 0 0-1.41L11.71 8.7c-.63-.62-1.71-.18-1.71.71v5.17c0 .9 1.08 1.34 1.71.71z" fill="%23737059"></path></svg>');
    --web-peeper-scroll-button-left: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M12.29 8.71L9.7 11.3a.996.996 0 0 0 0 1.41l2.59 2.59c.63.63 1.71.18 1.71-.71V9.41c0-.89-1.08-1.33-1.71-.7z" fill="%23737059"></path></svg>');
    --web-peeper-scroll-button-right-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M11.71 15.29l2.59-2.59a.996.996 0 0 0 0-1.41L11.71 8.7c-.63-.62-1.71-.18-1.71.71v5.17c0 .9 1.08 1.34 1.71.71z" fill="%23c0ba94"></path></svg>');
    --web-peeper-scroll-button-left-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M12.29 8.71L9.7 11.3a.996.996 0 0 0 0 1.41l2.59 2.59c.63.63 1.71.18 1.71-.71V9.41c0-.89-1.08-1.33-1.71-.7z" fill="%23c0ba94"></path></svg>');
}

:root::-webkit-scrollbar-thumb {
    background: var(--web-peeper-scroll-color);
    box-shadow: inset 0 0 2px 1px #000;
    background-clip: padding-box;
}

:root::-webkit-scrollbar-thumb:hover {
    --web-peeper-scroll-color: var(--web-peeper-scroll-color-hover);
}

:root::-webkit-scrollbar-track-piece {
    background: transparent;
}

:root::-webkit-scrollbar {
    background: #302f32;
    width: 15px;
    height: 15px;
}

:root::-webkit-scrollbar-corner {
    background: #302f32;
}

:root::-webkit-scrollbar-track:vertical {
    background: linear-gradient(to right, transparent 7px, #000 7px 8px, transparent 8px)
}

:root::-webkit-scrollbar-track:horizontal {
    background: linear-gradient(to bottom, transparent 7px, #000 7px 8px, transparent 8px)
}

:root::-webkit-scrollbar-button {
    height: 15px;
    width: 15px;
}

:root::-webkit-scrollbar-button:hover {
    --web-peeper-scroll-button-up: var(--web-peeper-scroll-button-up-hover);
    --web-peeper-scroll-button-down: var(--web-peeper-scroll-button-down-hover);
    --web-peeper-scroll-button-right: var(--web-peeper-scroll-button-right-hover);
    --web-peeper-scroll-button-left: var(--web-peeper-scroll-button-left-hover);
}

:root::-webkit-scrollbar-button:vertical:increment {
    background: var(--web-peeper-scroll-button-down) #000 no-repeat center / 20px;
}

:root::-webkit-scrollbar-button:vertical:decrement {
    background: var(--web-peeper-scroll-button-up) #000 no-repeat center / 20px;
}

:root::-webkit-scrollbar-button:horizontal:increment {
    background: var(--web-peeper-scroll-button-right) #000 no-repeat center / 20px;
}

:root::-webkit-scrollbar-button:horizontal:decrement {
    background: var(--web-peeper-scroll-button-left) #000 no-repeat center / 20px;
}