name: publish

on:   
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v2
    - name: Restore dependencies
      run: msbuild -t:Restore -p:Configuration=Release 
    - name: Build
      run: msbuild ./WebPeeper/WebPeeper.csproj -p:Configuration=Release 
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: publish
        path: WebPeeper/bin/x64/Release/*.bhm
    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "WebPeeper/bin/x64/Release/*.bhm"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Call module push webhook
      env:
        WEB_HOOK: ${{ secrets.MODULE_PUSH_WEBHOOK }}
      run: Invoke-WebRequest -Uri $env:WEB_HOOK -UseBasicParsing | Out-Null